.App {
  font-family: sans-serif;
  text-align: center;
}

.button {
  height: 50px;
  width: auto;
  display: block;
  background-color: lime;
}

body,
html {
  background-color: #eee;
  height: 100%;
}
body, #root {
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  display: flex;
}

input[type="text"],
input[type="password"] {
  width: 100%;
}

.quiz-container {
  width: 90%;
  max-width: 500px;
  border: 1px solid blue;
  padding: 30px;
  background-color: #e95d0f;
}

h2 {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
}
